
.content {
    height: 200px;
    width: 100%;
    background-image:url(https://previews.123rf.com/images/saicle/saicle1607/saicle160700174/60694171-abstract-technology-web-header-banner-vector-header-template-with-map-circut-board-and-squares-banne.jpg) ;
    background-size: cover;
    border-radius: 3px;
    }
 .text {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 200;
    line-height: 45px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 140;
    letter-spacing: 1px;
    z-index: 2;
    font-family: Georgia;
}
.contact {
    float: left;
    margin: 0 15px;
    width: 45%;
    text-decoration: none;
    padding: 10px;
}
.add_contact {
    padding-top: 6px;
    font-size: 16px;
    border-bottom: dotted #CCCCCC 1px;
    padding-bottom: 5px;
    line-height: 30px;
}
.phone_contact {
    font-size: 16px;
    border-bottom: dotted #CCCCCC 1px;
    padding-bottom: 5px;
    line-height: 30px;
}
h2{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #DC1A5B;
    text-transform: uppercase;
}
.email_contact {
    padding-top: 6px;
    font-size: 16px;
    border-bottom: dotted #CCCCCC 1px;
    padding-bottom: 5px;
    line-height: 30px;
}
h3{
    color: #666;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 5px;
}
.kithuat{   
    margin: 10px auto;
    outline: none;
    background: aqua;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    line-height: 20px;
    margin-bottom: 20px;
}
.kithuat p{
    font-family: Courier New;
    font-weight: 600;
    font-size: 16px;
}
.dichvu{   
    margin: 10px auto;
    outline: none;
    background: #5ABB49;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    line-height: 20px;
    margin-bottom: 20px;
    }
 .dichvu p{
        font-family: Courier New;
        font-weight: 600;
        font-size: 16px;
    }
input:focus {
        background-color: yellow;
}
@media only screen and (max-width: 1000px) {
    #thu3{
        padding:  0px;
    }
    #thu4{
        padding:  0px;
    }
}
@media only screen and (max-width: 600px) {
    #thu1{
        margin:  10px;
    }
}

p{
    font-family: Helvetica;
}